<div class="container">
	<div class="row profile">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<form action="settings_submit" method="get" accept-charset="utf-8">

					<div class="col-md-12">
						<div class="col-md-5 profile-userpic" style="padding-top: 20px">
							<img src="assets/img/user.png" class="img-responsive img-circle" style="cursor: pointer; border: 5px solid #BDC3C7" (click)="doSomething()">
						</div>
						<div class="col-md-7" style="margin-bottom: 25px">

							<label>Select profile picture</label>
							<div class="input-group image-preview" style="margin-bottom: 10px">
								<input type="text" class="form-control image-preview-filename" [(ngModel)]="img" [ngModelOptions]="{standalone: true}" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
								<span class="input-group-btn">
									<!-- image-preview-clear button -->
									<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
										<span class="glyphicon glyphicon-remove"></span> Clear
									</button>
									<!-- image-preview-input -->
									<div class="btn btn-default image-preview-input">
										<span class="glyphicon glyphicon-folder-open"></span>
										<span class="image-preview-input-title">Browse</span>
										<input #img_val type="file" (change)="img = img_val.files[0].name" accept="image/png, image/jpeg, image/gif" name="input-file-preview" class="btn btn-inverse" /> <!-- rename it -->
									</div>

								</span>
								
							</div>
							<label>Real Name</label>
							<input type="text" name="realname" [(ngModel)]="model.realname" [ngModelOptions]="{standalone: true}" class="form-control" style="margin-bottom: 10px" required>

							<label>Username</label>
							<input type="text" name="email" [(ngModel)]="model.username" [ngModelOptions]="{standalone: true}" class="form-control" style="margin-bottom: 10px" required>

							<label>Email</label>
							<input type="text" name="email" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}" class="form-control" required>
						</div>

						<br><br><hr>
						<div align="center" style="display: block">
							<input type="submit" class="btn btn-primary" value="Save Changes">
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>