<div class="container">
	<div class="main_section">
		<div class="chat_container">
			<div class="col-sm-3 chat_sidebar">

				<div class="row">
					<div id="custom-search-input">
						<div class="input-group col-md-12">
							<input type="text" class="  search-query form-control" placeholder="Conversation" />
							<button class="btn btn-danger" type="button">
								<span class=" glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="member_list">
						<ul class="list-unstyled">
							<li class="left clearfix" *ngFor="let user of messages_with">
								<a (click)="selected = user.email" style="text-decoration: none">
								<span class="chat-img pull-left">
									<img src="assets/img/user.png" alt="User Avatar" class="img-circle">
								</span>
								<div class="chat-body clearfix">
									<div class="header_sec">
										<strong class="primary-font">{{user.realname}}</strong> <strong class="pull-right">0</strong>
									</div>
								</div>
								</a>
							</li>
						</ul>
					</div></div>
				</div>
				<!--chat_sidebar-->
				<msg-stand-cmp [user]="me" [friend]="selected"></msg-stand-cmp>

				
			</div>
		</div>
	</div>