<style type="text/css" media="screen">
  .users-search{
    background-color: #2f4154; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px
  }  
</style>s

<div class="container">
	<div class="row profile">
		<div class="col-md-4 col-md-offset-4">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://localhost:8000/profile-picture/{{model.email}}" class="img-responsive img-circle" style="border: 5px solid #BDC3C7">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
						<h4>{{model.realname}} [ {{model.username}} ]</h4>
						<h5>{{model.email}}</h5>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button *ngIf="session.email != model.email" type="button" (click)="addFriend()" class="btn btn-success btn-sm">Add as friend</button>
					<button *ngIf="session.email != model.email" type="button" class="btn btn-warning btn-sm">Write Message</button>
					<a *ngIf="session.email == model.email" class="btn btn-info" [routerLink]="['/settings']">Edit Profile</a>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	</div>
	<div style="margin-top: 50px" *ngIf="friends.length > 0">
		<h4 style="text-align: center">{{model.realname}}'s Friends</h4>
		<div class="col-md-6" style="background-color: #ECF0F1; border: 1px solid #BDC3C7" *ngFor="let friend of friends">
			<div class="col-md-4">
				<img src="http://localhost:8000/profile-picture/{{friend.email}}" width="70%" class="img-responsive img-circle" style="float: right" />
			</div>
			<div class="col-md-8">
				<h6 style="margin-bottom: 0px; padding-top: 7px">{{friend.realname}} [{{friend.username}}]</h6>
				<p style="margin-bottom: 0px">{{friend.email}}</p>
				<a *ngIf="model.email != session.email" style="padding: 4px" (click)="addNewFriend(friend.email)" id="withPointer">Add</a>
				<a style="padding: 4px" id="withPointer">Message</a>
				<a style="padding: 4px" [routerLink]="['/profile', friend.email]">Profile</a>
				<a *ngIf="model.email == session.email" style="padding: 4px" (click)="deleteFriend(friend.friend_id)" id="withPointer">Delete</a>
			</div>
		</div>
	</div>
</div>