<div class="col-sm-9 message_section">
    <div *ngIf="friend != 'none'" class="row">
        <!--<div class="new_message_head">
            <div class="pull-left"><button data-toggle="modal" data-target="#newMessage"><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div>
            <div class="pull-right">
                <div class="dropdown">
                </div>
            </div>
        </div>

        
        new_message_head
        {{friend}} - {{user}} - {{type}}-->
        <div class="message_write">
            <form (ngSubmit)="sendMessage()">
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="model.message" [ngModelOptions]="{standalone: true}" placeholder="type a message"/>
                </div>
                <div class="col-md-1">
                    <span class="input-group-btn">
                        <div class="btn btn-default image-preview-input" style="border-radius: 5px">
                            <span class="fui-clip" aria-hidden="true"></span>
                            <input #img_val type="file" (change)="sendImage(img_val.files[0])" accept="image/png, image/jpeg, image/gif" name="profileImage" class="btn btn-inverse" /> <!-- rename it -->
                        </div>

                    </span>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="pull-right btn btn-success" value="Send" />
                </div>
                
                <!--(change)="img = img_val.files[0].name; newImg = img_val.files[0]"-->
            </form>
        </div>

        <div class="chat_area">
            <ul class="list-unstyled">
                <li class="left clearfix {{message.from_who == user ? 'admin_chat' : ''}}" *ngFor="let message of messages">
                    <span class="chat-img1 {{message.from_who == user ? 'pull-right' : 'pull-left'}}">
								<img src="http://localhost:8000/profile-picture/{{message.from_who}}" alt="User Avatar" class="img-circle">
							</span>
                    <div class="chat-body1 clearfix">
                        <p *ngIf="!isImage(message.message) && !isEmoji(message.message)">{{message.message}}</p>
                        <div class="row" *ngIf="isImage(message.message)">
                            <img style="float: right; margin-right: 5px; margin-left: 5px; margin-bottom: 5px; max-width: 90%" src="{{messageToImage(message.message)}}" alt="">
                        </div>
                        <div class="row" *ngIf="isEmoji(message.message)">
                            <p [innerHtml]="messageToEmojiWithMsg(message.message)">
                            </p>
                        </div>
                        <div class="chat_time {{message.from_who == user ? 'pull-right' : 'pull-left'}}" style="font-size: 10px; margin: -5px; padding: 0px">{{type == 'user' ? '' : message.from_who + ' - '}} {{message.sent | date:"MM/dd/yy hh:mm"}}</div>
                    </div>
                </li>
            </ul>
            <input id="lastMessage" hidden/>
        </div>
        <!--chat_area-->
    </div>
</div>
<!--message_section-->
<!-- /.modal -->